div{
outline: 1px solid lime;
}

/*body{
background-color: red;
}
*/

.container{
width: 920px;
margin-left; auto;
margin-right; auto;
}
.header{
background-color: blue;
height: 200px;
width: 100%px
}

.submenu{
background-color: red;
width: 200px;
height: 400px;
float: left;
}

.content{
background-color: green;
height:400px;
width:720px;
float: left;
}
