div{
outline: 1px solid lime;
}

/*body{
background-color: red;
}
*/

.container{
width: 920px;
margin-left: auto;
margin-right: auto;
}
.header{
background-color: blue;
height: 200px;
width: 100%;
}

.subcontent{
background-color: green;
height: 200px;
width: 920px;
}

.yellowbox{
background-color: yellow;
height: 160px;
width: 430px;
margin-left: 20px;
margin-top: 20px;
float: left;
}

.content{
background-color: red;
height: 400px;
width: 920px
}

.squares{
background-color: yellow;
height: 360px;
width: 430px;
margin-left: 20px;
margin-top: 20px;
float: left;
}



