div{
outline: 1px solid black;
}
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

h1{
    font-size: 35px;
    color: mediumblue;
    font-family: 'Indie Flower', cursive;
}

h2{
 font-size: 50px;
color: mediumblue;
font-family: 'Indie Flower', cursive;
}

h3{
font-size: 20px;
color: mediumblue;
}

p{ 
    font-size: 1rem;
}
.header{
background-color: #148a43;
margin-top: 50px;
height: 100px;
width: 1100px;
margin-left: auto;
margin-right: auto;
}

.logo{
height: 100px;
width: 100px;
float: left;

}

.heading{
    height: 100px;
    width: 995px;
    margin-left: 105px;
    font-family: sans-serif;
    
}

.nav{
    max-width: 950px;
    width: 500px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    float: right;
    
}
.links{
padding-left: 10px;
padding-right: 10px;
margin-left: auto;
margin-right: auto;
}

.bannerintro{
width: 1100px;
height: 80px;
margin-right:auto;
margin-left: auto;
margin-top: 30px;
background-color:#148a43
}

.textbox1{
height: 150px;
width: 1100px;
margin-left:auto;
margin-right: auto;
font-size: 1.5rem;
}

.slideshow{
width: 1100px;
height: 500px;
margin-right:auto;
margin-left: auto;
margin-top: 30px;
}

.about{
width: 1100px;
height: 800px;
margin-right:auto;
margin-left: auto;
margin-top: 30px;

}

.bannerabout{
width: 1100px;
height: 80px;
margin-right:auto;
margin-left: auto;
margin-top: 30px;
background-color:#148a43
}

.raromap{
width: 300px;
height: 300px;
margin-top: 10px;
float: left;


}

.textbox2{
width: 800px;
height: 380px;
float:right;
}

.scooterphotos{
width: 1100px;
height: 250px;
margin-top: 30px;
float: right;    
}

.scooterphoto1{
width: 250px;
height: 250px;
float: left;
margin-left: 0px;

}

.scooterphoto2{
width: 250px;
height: 250px;
float: left;
margin-left: 30px;

}

.landscape{
width: 250px;
height: 250px;
float: left;
margin-left: 30px;
}

.sup{
width: 250px;
height: 250px;
float: left;
margin-left: 40px;
}

.bannerattractions{
width: 1100px;
height: 80px;
margin-right:auto;
margin-left: auto;
margin-top: 30px;
background-color:#148a43
}
.attractions{
width: 1100px;
height: 800px;
margin-right:auto;
margin-left: auto;
margin-top: 30px;
}

.textbox3{
width: 1100px;
height: 500px;
margin-left: auto;
margin-right: auto;
font-size: 1rem;
}

.kokacruisevid1{
height: 350px;
width: 250px;
border-color: mediumblue;
float: right;
}

.kokacruisevid2{
height: 350px;
width: 250px;
border-color: mediumblue;
float: left;
}

.kokabandpic{
height: 250px;
width: 400px;
margin-left: auto;
margin-right: auto;
}

.textbox4{
width: 1100px;
height: 540px;
margin-left: auto;
margin-right: auto;
font-size: 1rem;
}

.mensdance{
height: 350px;
width: 380px;
float: left;
margin-right:50px;
}

.showtime{
height:400px;
width:270px;
float: right;
margin-right:10px;

}

.buffetdinner{
height: 350px;
width: 400px;
margin-left: auto;
margin-right: auto;
}

.textbox5{
width: 1100px;
height: 500px;
margin-left: auto;
margin-right: auto;
font-size: 1rem;
}

.buggyvid1{
width: 200px;
height: 350px;
float: left;
}

.buggypic1{
width: 380px;
height: 350px;
float:right;
margin-right:10px;
}

.buggyguide{
width: 450px;
height: 350px;
margin-left: 230px;
}

.bannerthingstoexperience{
width: 1100px;
height: 80px;
margin-right:auto;
margin-left: auto;
margin-top: 30px;
background-color:#148a43;
border-bottom: black;
}

.experiences{
width: 1100px;
height: 1400px;
margin-left: auto;
margin-right: auto;
border-bottom: black;
}

.textbox6{
width: 250px;
height: 550px;
float: left;
margin-left: 10px;
font-size: 1rem;
background-color:
}

.mansbestfriend{
width: 350px;
height: 300px;
float: right; 
margin-right:20px;
}

.palace{
width: 350px;
height: 300px;
margin-left: 280px;
}

.familylunch{
width: 350px;
height: 300px;
float: right; 
margin-right:20px;
margin-top: 20px;
}

.beachdad{
width: 400px;
height: 300px;
margin-left:290px;
margin-top:30px;
}

.rarojoust{
width: 500px;
height: 400px;
float: right; 
margin-right:20px;
margin-top:5px;
}

.earlymorning{
width: 450px;
height: 300px;
margin-left:20px;
margin-top:30px;
}

.sunrise{
height:300px;
width: 450px;
margin-top:60px;
margin-left:40px;
float: left;
}

.dogsbeach{
width: 500px;
height: 300px;
float: right;
margin-top:20px;
margin-right:40px;
}