div{
outline: 1px solid black;
}
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

h1{
    font-size: 30px;
    color: mediumblue;
}

h2{
 font-size: 50px;
color: mediumblue;
}

p{ 
    font-size: 1rem;
}
.header{
background-color: #148a43;
margin-top: 50px;
height: 100px;
width: 1100px;
margin-left: auto;
margin-right: auto;
}

.logo{
height: 100px;
width: 100px;
float: left;

}

.heading{
    height: 100px;
    width: 995px;
    margin-left: 105px;
    
}

.nav{
    max-width: 950px;
    width: 500px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    float: right;
    
}
.links{
padding-left: 10px;
padding-right: 10px;
margin-left: auto;
margin-right: auto;
}

.bannerintro{
width: 1100px;
height: 80px;
margin-right:auto;
margin-left: auto;
margin-top: 30px;
background-color:#148a43
}

.textbox1{
height: 150px;
width: 1100px;
margin-left:auto;
margin-right: auto;
font-size: 1.5rem;
}

.slideshow{
width: 1100px;
height: 500px;
margin-right:auto;
margin-left: auto;
margin-top: 30px;
}

.about{
width: 1100px;
height: 800px;
margin-right:auto;
margin-left: auto;
margin-top: 30px;

}

.bannerabout{
width: 1100px;
height: 80px;
margin-right:auto;
margin-left: auto;
margin-top: 30px;
background-color:#148a43
}

.raromap{
width: 300px;
height: 300px;
margin-top: 20px;
float: left;


}

.textbox2{
width: 800px;
height: 380px;
float:right;
}

.scooterphotos{
width: 1100px;
height: 300px;
margin-top: 30px;
float: right;    
}

.scooterphoto1{
width: 250px;
height: 250px;
float: left;
margin-left: 0px;

}

.scooterphoto2{
width: 250px;
height: 250px;
float: left;
margin-left: 30px;

}

.landscape{
width: 250px;
height: 250px;
float: left;
margin-left: 30px;
}

.landscape{
width: 250px;
height: 250px;
float: left;
margin-left: 30px;
}





